{% extends 'layout.html.twig' %}

{% block content %}
<img src="{{ resource_url('../public/images/puli-logo.png') }}" />

<h1>Welcome to the Puli Demo Package!</h1>

<p>This application demonstrates the use of <a href="http://puli.io">Puli</a>
and <a href="http://gulpjs.com">Gulp JS</a> in a reusable Composer package.</p>
{% endblock %}
